/* all */
* {font-family: Verdana, Geneva, Tahoma, sans-serif;}

h1 {text-align: center;}

/* index */
#index {text-align: center;}

/* Brownies */

/* Cookies */

/* Cake */

img {width: 600px; 
    height: auto; 
    display: flex;
    justify-content: center;}