* {font-family: Verdana, Geneva, Tahoma, sans-serif;}

h1 {text-align: center}

h1, h2 {background-color: rgb(164, 104, 93); color: rgb(217, 141, 68);}

/* index */
#index {text-align: center;}

img {width: 600px; 
    height: auto; 
    display: flex;
    justify-content: center;}